<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form th:action="@{/account}" action="/account" th:object="${accountForm}" method="post">

        <h1>ユーザー登録</h1>

        <div th:classappend="${#fields.hasErrors('userName')}? 'has-error'">
            <label for="userName">UserName</label>

            <div>
                <input id="userName" type="userName" th:field="*{userName}" name="userName"/>
                <span th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">error!</span>
            </div>
        </div>
        <div th:classappend="${#fields.hasErrors('password')}? 'has-error'">
            <label for="password">Password</label>

            <div>
                <input id="password" type="password" th:field="*{password}" name="password"/>
                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">error!</span>
            </div>
        </div>
        <input type="submit" value="新規登録"/>
    </form>
</body>
</html>