<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Black Jack</title>
    <link rel="stylesheet" media="all" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>ディーラー</h1>
<div class="card-list">
    <img src="dHand" th:src="@{${dHand}}" width="190" height="300"/>
    <img src="/card_back.png" th:src="@{/card_back.png}" width="190" height="300"/>
</div>


<h1>プレイヤー</h1>

<div th:each="card : ${pHand}" class="card-list">
    <div>
        <img src="card" th:src="@{${card}}" width="190" height="300"/>
    </div>
</div>
<h2>合計</h2>
<h3 th:text="${pCount}"></h3>

<form action="/hit">
    <input type="submit" value="hit">
</form>
<form action="/stand">
    <input type="submit" value="stand">
</form>

</body>
</html>