<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	<form method="post" action="/order" th:object="${listForm}">
		<table border="1">
			<tr>
				<th>商品名</th>
				<th>価格</th>
			</tr>
			<tr th:each="item, stat : ${itemList}">
				<td th:text="${item.name}"></td>
				<td th:text="${item.price}"></td>
			</tr>
		</table>
		 <select id="singleSelect" name="selectedItem" th:field="*{itemName}">
			<option value="">---</option>
			<option th:each="item : ${itemList}" th:value="${item.name}"
				th:text="${item.name}"
				
				>[[*{itemName}]]</option>
		</select> 
		<input type="number" id="i" th:field="*{itemNum}" />
		<input type="submit" id="send" value="かごに追加する" />
	</form>
	<form method="post" action="/cart">
		<input type="submit" id="cart" value="カートの中身" />
	</form>
</body>
</html>