<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script type="text/javascript"
        th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
$(function(){
  // buttonがclickされたとき、変数に検索する値を代入
  $('#search_button').on('click', function(){
	var table = document.getElementById("itemTable");
  	// 行の削除
  	while (table.rows.length > 1) table.deleteRow(0);
    var keyword = $('#search_area').val();

    // リクエストURLを設定する
    $.get('https://app.rakuten.co.jp/services/api/IchibaItem/Search/20170706?', {
      applicationId: "1077385068456750415",
      keyword: keyword

    // 結果が帰ってきたらここでそれを受け取り、空でなければ順番に出力していく
    }, function(data){

      if (data.count > 0){
        // console.log(data);
        $.each(data.Items, function(i, item){

          var table = document.getElementById("itemTable");
       // 行を行末に追加
          var row = table.insertRow(-1);
          var cell1 = row.insertCell(-1);
          var cell2 = row.insertCell(-1);
          var cell3 = row.insertCell(-1);
          cell1.innerHTML = '<img src="${item.Item.smallImageUrls[0].imageUrl}">';
          cell2.innerHTML = item.Item.itemName;
          cell3.innerHTML = item.Item.itemPrice;
 let op = document.createElement("option");
          op.value = item.Item.itemName[i];  //value値
          op.text = item.Item.itemName;   //テキスト値
          document.getElementById("singleSelect").appendChild(op);

        })
      }
    });
  });
});
/*]]>*/
</script>
<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
$(function(){
  $('#put_cart').on('click', function(){
    var itemTable = document.getElementById("itemTable");
    var collection = itemTable.rows;
    var table = document.getElementById("orderTable");
    var orderRows = table.rows;
    var idx = document.getElementById("singleSelect").selectedIndex;
    var selectedItem = document.getElementById("singleSelect").options[idx].text;
    var itemNumber = $('#itemNumber').val();
    var price = 0;
    var itemRowCount = -1;
    //既に追加されている商品は数量と価格だけ更新
    for (var i = 1; i < orderRows.length; i++) {

        if(selectedItem == orderRows[i].cells[0].innerHTML){
        itemRowCount = i;
        break;
       }
    }

    if(!(itemRowCount < 0)){
        orderRows[itemRowCount].cells[1].innerHTML = (parseInt(orderRows[itemRowCount].cells[1].innerHTML) + parseInt(itemNumber));
        orderRows[itemRowCount].cells[2].innerHTML = (parseInt(orderRows[itemRowCount].cells[1].innerHTML) * collection[idx+1].cells[2].innerHTML);
    }else{
        var row = table.insertRow(-1);
        var cell1 = row.insertCell(-1);
        var cell2 = row.insertCell(-1);
        var cell3 = row.insertCell(-1);
        var cell4 = row.insertCell(-1);
        cell1.innerHTML = selectedItem;
        cell2.innerHTML = itemNumber;
        cell3.innerHTML = collection[idx+1].cells[2].innerHTML * itemNumber;
        var button = '<input type="button" value="削除" onclick="deleteRow(this)" />';
        cell4.innerHTML = button;
    }

    for (var i = 1; i < orderRows.length; i++) {
        price += parseInt(orderRows[i].cells[2].innerHTML);
    }
    document.getElementById("price").innerText = price;
  });

});

function deleteRow(obj) {
    // 削除ボタンを押下された行を取得
    tr = obj.parentNode.parentNode;
    // trのインデックスを取得して行を削除する
    tr.parentNode.deleteRow(tr.sectionRowIndex);

    tab = obj..parentNode.parentNode.parentNode;
    rows = tab.rows.length;
    if(rows ==1){
    document.getElementById("price").innerText = "";
    }
}
/*]]>*/
</script>
<head>
    <meta charset="UTF-8">
</head>
<body>
    <input type="text" id="search_area">
    <button type="button" id="search_button">検索</button>

    <table id="itemTable" border="1">
        <tr>
            <td>商品画像</td>
            <td>商品名</td>
            <td>価格</td>
        </tr>
    </table>
    <form th:object="${listForm}" onsubmit="doSomething();return false;">
     <select id="singleSelect" name="itemName" th:field="*{itemName}">
     </select>
    <input type="number" id="itemNumber" name="itemNum" th:field="*{itemNum}"/>
    <button type="button" id="put_cart">かごに追加する。</button>
    </form>

    <table id="orderTable" border="1">
        <tr>
            <td>商品名</td>
            <td>数量</td>
            <td>価格</td>
        </tr>
    </table>

    <div id="price"></div>
<form method="post" action="/cart" th:action="@{/cart}">
    <input type="submit" id="cart" value="カートの中身"/>
</form>
</body>
</html>