<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Result</title>
    <link rel="stylesheet" media="all" th:href="@{/css/style.css}"/>
</head>
<body>

<h2>ディーラー</h2>
<div th:each="card : ${dHand}" class="card-list">
    <img src="card" th:src="@{${card}}" width="190" height="300"/>
</div>
<h2>合計</h2>
<h2 th:text="${dCount}"></h2>

<h2>プレイヤー</h2>
<div th:each="card : ${pHand}" class="card-list">
    <img src="card" th:src="@{${card}}" width="190" height="300"/>
</div>
<h2>合計</h2>
<h2 th:text="${pCount}"></h2>

<h2>Result</h2>
<h1 th:text="${result}"></h1>


<form action="/blackjack">
    <input type="submit" value="replay">
</form>
<form action="/top">
    <input type="submit" value="top">
</form>
</body>
</html>